.IncomeWrapper{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.IncomeHeadingText{
    text-align: center;
    margin-top: 6%;
    background-color: transparent;
}

.HeadingWrapper{
    display: flex;
    margin: 0 20px 0 20px;
}

.HeadingText{
    margin-right: auto;
    margin-left: 30px;
}

.HeadingAmount{
    margin: auto;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: underline;
    color: #153862;
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 15px;
    border-color: #7D84B2;
    box-shadow: 0px 3px 6px 3px;
    padding: 10px 5px;
    
}

.HeadingButton{
    margin-left: auto;
    float: right;
}

.ColumnWrapper{
    display: flex;
    margin: 0px 20px;
    width: auto;
}

.RowWrapper{
    width:45%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px #ccc;
}

.ChartWrapper {
    width:87%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px #ccc;
}

.TableWrapper {
    width:87%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px #ccc;
}

.SectionWrapper {
    width:87%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px #ccc;
    text-align: center;
}

.SpinnerWrapper{
    width:100%;
    height:100vh;
    vertical-align:middle;
    margin-top:350px;
}

.ComingSoon{
    position: relative;
    text-align:center;
    vertical-align:middle;
    margin-top:25%;
    border: 6px solid #ccc;
    animation: 1s infinite ComingSoon;
    border-radius: 20px;
    background-color: #153862;
    transform: rotate(35deg);
    z-index: 1;
    /* #153862 */
}

.ComingSoon2{
    width:100%;
    text-align:center;
    vertical-align:middle;
    margin-top:-15%;
    border: 6px solid #ccc;
    animation: 1s infinite ComingSoon;
    border-radius: 20px;
    background-color: #153862;
    transform: rotate(330deg);
    z-index: -1;
}

.ComingSoon > p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size:35px;
    text-transform:uppercase;
}

.ComingSoon2 > p {
    color: white;
    font-size:35px;
    word-spacing:15rem;
    text-shadow: 2px 2px 4px #000000;
    text-transform:uppercase;
}

.FormContainer{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 100%;
}
.FormLabel{
    display:flex;
    flex-direction:column;
    flex: 1;
    text-align: right;
    margin-right: 80%;
    margin-top:27px;
    font-size: 14px;
    text-transform:uppercase;

}

@media only screen and (max-width: 1120px) {
    /* For mobile phones: */
    .ColumnWrapper{
        width: 92%;
        display: block;
    }

    .RowWrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align:center;
        /* margin-top: 20px;
        margin-left: auto;
        margin-right: 15px;
        margin-bottom: 30px; */
        /* padding: 10px 15px; */
    }

    /* Fix here to have the coming soon part line up correctly on this size screen */
    .ComingSoon{
        position: relative;
        text-align:center;
        vertical-align:middle;
        margin-top:25%;
        border: 6px solid #ccc;
        animation: 1s infinite ComingSoon;
        border-radius: 20px;
        background-color: #153862;
        transform: rotate(35deg);
        z-index: 1;
        /* #153862 */
    }
    
    .ComingSoon2{
        width:100%;
        text-align:center;
        vertical-align:middle;
        margin-top:-15%;
        border: 6px solid #ccc;
        animation: 1s infinite ComingSoon;
        border-radius: 20px;
        background-color: #153862;
        transform: rotate(330deg);
        z-index: -1;
    }
    
    .ComingSoon > p {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-size:25px;
        text-transform:uppercase;
    }
    
    .ComingSoon2 > p {
        color: white;
        font-size:25px;
        word-spacing:15rem;
        text-shadow: 2px 2px 4px #000000;
        text-transform:uppercase;
    }



  }




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .ColumnWrapper{
        width: 92%;
        display: block;
    }

    .RowWrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 20px;
        margin-left: auto;
        margin-right: 15px;
        margin-bottom: 30px; */
        /* padding: 10px 15px; */
    }

    /* Fix here to have the coming soon part line up correctly on this size screen */
    .ComingSoon{
        position: relative;
        text-align:center;
        vertical-align:middle;
        margin-top:25%;
        border: 6px solid #ccc;
        animation: 1s infinite ComingSoon;
        border-radius: 20px;
        background-color: #153862;
        transform: rotate(35deg);
        z-index: 1;
        /* #153862 */
    }
    
    .ComingSoon2{
        width:100%;
        text-align:center;
        vertical-align:middle;
        margin-top:-15%;
        border: 6px solid #ccc;
        animation: 1s infinite ComingSoon;
        border-radius: 20px;
        background-color: #153862;
        transform: rotate(330deg);
        z-index: -1;
    }
    
    .ComingSoon > p {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-size:35px;
        text-transform:uppercase;
    }
    
    .ComingSoon2 > p {
        color: white;
        font-size:35px;
        word-spacing:15rem;
        text-shadow: 2px 2px 4px #000000;
        text-transform:uppercase;
    }



  }

/* @keyframes ComingSoon {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    75% {
      border-color: yellow;
    }
    100% {
      border-color: purple;
    }
  }
  @-webkit-keyframes ComingSoon {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    75% {
      border-color: yellow;
    }
    100% {
      border-color: purple;
    }
  } */
