.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 2px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 10px 10px;
    width: 75%;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.InputElement:focus {
    outline:none;
    background-color: #ccc;
}

.Invalid {
    border: 2px solid red;
    background-color: #FDA49A;
}