.TaskTableWrapper{
    
    
}

.TaskHeader{
    margin-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    text-transform:uppercase;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
    border-radius: 15px;
}

.TaskColumns{
    position:relative;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -35px;
    text-align: center;
    
}

.TaskColumns > div {
    
    position: relative;
    margin: 0 10px;
    width: 100%;
    font-size: 15px;
    line-height: 75px;
    
    /* border-right: 3px solid gray; */

    height: 200px;
    background-color: green; 
    
}

.TaskColumnsFooter{
    position: absolute;
    bottom:0;
    background-color:pink;
    vertical-align:bottom;
    
    
}


/* 
.TaskTableHeading{
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
    padding-right: 10px;
    white-space: nowrap;
}

.TaskTableContent{
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
    padding-right: 10px;
    white-space: nowrap;
    
}

.TaskTableEditButtonWrapper{
    display: flex;
}

.TaskTableEditButtonEdit{
    color: #7D84B2;
    padding: 10px;
}

.TaskTableEditButtonEdit :hover{
    cursor: pointer;
    opacity: 0.8;
}

.TaskTableEditButtonDelete{
    color: #E85F5C;
    padding: 10px;
}

.TaskTableEditButtonDelete :hover{
    cursor: pointer;
    opacity: 0.8;
} */
