.ProgressBarContainer {
    height: 20px;
    width: 55%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 50px;
}

.ProgressBarFiller{
    height: 100%;
    background-color:gray;
    border-radius: inherit;
    text-align: right;
}

.ProgressBarLabel{
    padding: 5px;
    color: white;
    font-weight: bold;
}
