.TableWrapper{
    
    
}

.Table {
    width: 80%;
    height: auto;
    background-color: white;
    text-align: center;
    margin: auto;
    padding: auto;
    table-layout: fixed;
    border-collapse: collapse;
    zoom: 1.1;
}

.TableHeading {
    padding: 10px 0 20px 0;
    margin: auto;
    color:#153862;
    opacity: 0.8;
    border-bottom: 1px solid gray;
    
}

.TableContentWrapper{
    
}

.TableContent{
    padding: 15px 0 5px 0;
    margin: auto;
    color: rgba(57.0, 179.0, 161.0, 1.0);
    opacity: .8;
    text-transform: uppercase;
}
.TableContentWrapper:hover {
    background-color: #7D84B2;
    opacity: 1;
    zoom: 1.1;
}

.TableDanger{
    text-align: center;
    color: #E85F5C;

}

/* E85F5C

F4E9CD

7D84B2 */