.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8FA6CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}



.LogoWrapper {
    margin: -20px;
    margin-bottom: -25px;
    padding-bottom: -60px;
    padding: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
}

.Logo {
    
    height: 120px;
    width: auto;
    max-width: 100%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}



@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}