body {
  min-width:100%;
  min-height: 100%;
  background-color: #f1f1f1;
  /* background-color: #fff; */
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* color bank {
  dark blue: #00072D
  lemon meringue : #faf0ca - F4E9CD
  rhythm purple: #7d84b2
  blue yonder : #9fa6cb
  fire opal : #e85f5c
} */